# Self added
*.S
*.img
*.asm
*.sym
kernel
initcode
entryother
bootblock
_*
.vscode/
mkfs
.gdbinit

# xv6 repo ignores
*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
.gdbinit